.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.embedHtml__iY4LJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 24px 96px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.embedHtml__xkr54:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__qz4Mw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: radial-gradient(
      ellipse 40% 60% at 50% 45%,
      #0053b6 0%,
      #000000 100%
    )
    0% 0% / 100% 100% repeat;
  box-shadow: 0px 0px 32px 0px #0053b6c9;
  min-width: 0;
  border-radius: 32px;
  padding: 32px;
  border: 1px solid #0053b6;
}
.img__dvnZ8 {
  position: relative;
  object-fit: cover;
  max-width: 60%;
  width: 100%;
  z-index: 1;
  min-width: 0;
}
.img__dvnZ8 > picture > img {
  object-fit: cover;
}
.img__dvnZ8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__mzLe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -100px;
}
.img__mzLe > picture > img {
  object-fit: cover;
}
.img__mzLe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mzLe {
    margin-top: -20px;
  }
}
.freeBox__tqENt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: -100px;
  min-width: 0;
}
.freeBox__tqENt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__tqENt > :global(.__wab_flex-container) > *,
.freeBox__tqENt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tqENt > :global(.__wab_flex-container) > picture > img,
.freeBox__tqENt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tqENt {
    margin-top: -50px;
  }
}
.h2__hBspV {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__hBspV {
    font-size: 32px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ea189e;
  text-align: center;
  letter-spacing: normal;
  padding-bottom: 32px;
  transform: none;
  filter: none;
  min-width: 0;
  border: 1px none #cd0000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 43px;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(90deg, #fcf951 0%, #e69d0b 100%) 0% 0% / 100% 100%
    repeat;
  color: #000000;
  box-shadow: 0px 12px 24px 0px #e69d0b99;
  cursor: pointer;
  min-width: 0;
  border-radius: 42px;
  padding: 32px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 24px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 32px;
  min-width: 0;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hcIsk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hcIsk {
    border-right-style: none;
  }
}
.h4__mjHde {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__mjHde {
    text-align: center;
  }
}
.h2__cwLbU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__cwLbU {
    text-align: center;
  }
}
.column__lYze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h4__g38BT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__g38BT {
    text-align: center;
  }
}
.h2__r1Eht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__r1Eht {
    text-align: center;
  }
}
.freeBox__nJzi {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  min-width: 0;
}
.freeBox__guMnD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__efHtY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__efHtY > picture > img {
  object-fit: cover;
}
.img__efHtY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__fWz9F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__i1Klh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__i1Klh > picture > img {
  object-fit: cover;
}
.img__i1Klh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__cteZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__yqsMl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__yqsMl > picture > img {
  object-fit: cover;
}
.img__yqsMl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__i6Imk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__iQ3Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__iQ3Y > picture > img {
  object-fit: cover;
}
.img__iQ3Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vwG9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__zdV1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__zdV1 > picture > img {
  object-fit: cover;
}
.img__zdV1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pl0AV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__aGpGq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__aGpGq > picture > img {
  object-fit: cover;
}
.img__aGpGq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__y1NX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img___7KORn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img___7KORn > picture > img {
  object-fit: cover;
}
.img___7KORn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__nrGa3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img__wn9D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__wn9D > picture > img {
  object-fit: cover;
}
.img__wn9D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
